Smit Patel CV.pdf
Task2/client/node_modules
Task2/server/node_modules
Task2/docs/
Task5/client/node_modules
Task5/client/dist
Task5/server/node_modules
Task9/server/node_modules
Task10/server/node_modules
Task10/client/node_modules
Task10/client/dist
Task11/server/node_modules
Task11/client/node_modules
Task11/client/dist
.env
PROMPT.md